<div class="container">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="table">
			<div class="table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Editando tarefa {{tarefaEditar.nome}}</h4>
						</div>
						<div class="modal-body">
							<label for="nome">Titulo Tarefa</label>
							<input class="form-control" name="nome" type="text" ng-model="tarefaEditar.nome" ng-required="true" placeholder="Titulo" />
							<label for="nome">Descrição Tarefa</label>
    						<input class="form-control" name="descricao" type="text" ng-model="tarefaEditar.descricao" ng-required="true" placeholder="Descricao"/>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="salvaEdicao(tarefaEditar)">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<section class="content">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">

								<button type="button" class="btn btn-success btn-filter" ng-click="actionTask(tasks,'finalizada')">Finaizada</button>
								<button type="button" class="btn btn-warning btn-filter" ng-click="actionTask(tasks,'pendente')">Pendente</button>
								<button type="button" class="btn btn-primary btn-filter" ng-click="actionTask(tasks,'executando')">Executando</button>
								<button type="button" class="btn btn-danger btn-filter" ng-click="actionTask(tasks,'delete')">Apagar</button>
							</div>
						</div>
					</div>
					<div class="table-container">
						<table class="table table-filter">
							<tbody>
								<tr ng-repeat="tarefa in tasks">
									<td>
										<div class="ckbox">
											<input type="checkbox" id="ckGrid" ng-model="tarefa.taskSelected" ng-click="taskSelected(tarefa)">
											<label for="ckGrid"></label>
										</div>

										<td>

											<div class="media">
												<a href="#" class="pull-left">
											<img src="http://www.clker.com/cliparts/9/d/a/c/13684596891765659876icon-task-edit-9-th.png" class="media-photo">
										</a>
												<div class="media-body">
													<span class="pull-right date-display-single">{{tarefa.dataCriacao.replace('/Date(','').replace(')/','') | date:"dd/MM/yyyy" }}
														
													</span>
													<br>
													<span class="pull-right {{tarefa.status}}">Status :{{tarefa.status}} </span>
													
													
													<h4 class="title">
														{{tarefa.nome}}
														
													</h4>
													<p class="summary">{{tarefa.descricao}}</p>
												</div>
											</div>
										</td>
										<td>
											<button type="button" class="btn btn-default"  data-toggle="modal" ng-click="setTarefaEidtar(tarefa)" data-target="#myModal">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</button>

										</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>